<h1 class="text-center mb-4">Total books: <%= books.length %></h1>
<div class="w-full mx-auto flex flex-col md:grid md:grid-cols-2 md:place-content-stretch text-white gap-3">
  <% books.forEach(book => { %>
  <div class="animate-slide-in card card-side bg-base-100 shadow-xl">
    <figure class="p-2">
      <img src="<%= book.volumeInfo.imageLinks.thumbnail %>" class="w-[140px] h-auto rounded-md" />
    </figure>
    <div class="card-body">
      <h2 class="card-title text-wrap"><%= book.volumeInfo.title %></h2>
      <p>Date added: <%= book.dateModified %></p>
      <div class="flex gap-2">
        <form action="/detail/<%= book.id %>" method="get">
          <button type="submit" class="btn btn-outline btn-info">Detail</button>
        </form>
        <form action="/collection/<%= username %>/<%= nameCollection %>/delete/<%= book.id %>" method="post">
          <input type="text" name="_method" value="DELETE" hidden>
          <button type="submit" class="btn btn-success">Done reading</button>
        </form>
      </div>
    </div>
  </div>
  <% }) %>
</div>