<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= nameCollection %></title>
  <link rel="stylesheet" href="/css/src/output.css" type="text/css">
  <link rel="shortcut icon" href="/images/book.png" type="image/x-icon">
</head>

<body class="bg-dark-theme-surface min-h-screen">
  <div class="fixed top-0 w-screen">
    <%- include('../partials/nav.ejs') %>
  </div>
  <main class="bg-dark-theme-surface container pt-20 text-white mx-auto min-h-[86.4vh]">
    <div class="breadcrumbs text-center text-2xl font-mono mx-auto flex justify-center items-center">
      <ul>
        <li><%= username %></li>
        <li><%= nameCollection %></li>
      </ul>
    </div>
    <% if (books.length < 1) { %>
      <div role="alert" class="alert alert-warning max-w-max mx-auto mt-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        <span>You dont have any book in this collection</span>
      </div>
    <% } else { %>
      <section class="w-full mx-auto">
        <%- include('./collection.ejs') %>
      </section>
    <% } %>
  </main>
  <div class="pt-4 w-full bg-dark-theme-background relative bottom-0">
    <%- include('../partials/footer.ejs') %>
  </div>
  <script src="https://kit.fontawesome.com/d918759405.js" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>

</html>